$card-length: 300px;

.gallery {
  text-align: center;
  background: $blue;
}

.card {
  width: $card-length;
  height: $card-length;
  display: inline-block;
  margin: $base-spacing 0;
  vertical-align: top;
  overflow: hidden;
  box-shadow: $box-shadow;

  @media screen and (min-width: $card-length * 2) {
    margin: $base-spacing;
  }

  .card__wrapper {
    padding: $base-spacing / 2;

    @media screen and (max-width: $card-length + $base-spacing) {
      padding: 4px;
    }

    &.-overlay {
      background: rgba(0, 0, 0, 0.5);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
      height: 100%;
    }
  }

  .card__container {
    width: 100%;
    height: 100%;
    display: block;
  }
}

$caption-height: 64px;

.reportback {
  background: $white;

  .reportback__photo {
    padding: 4px;
    display: block;

    img {
      width: $card-length - $caption-height - 4;
      height: $card-length - $caption-height - 4;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .reportback__caption {
    height: $caption-height - 4;
    overflow: hidden;

    p {
      color: $off-black;
      font-family: $font-handwritten;
      font-weight: $weight-normal;
      font-size: 20px;
    }
  }
}

.invite {
  background: $off-black;
  background-size: cover;
  background-position: center;

  h1 {
    text-align: left;
    word-spacing: $card-length;
    font-size: 60px;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    padding-left: 2px;
    margin-top: -2px;
  }

  p {
    color: $white;
    font-size: 20px;
    margin: 6px 0;
  }

  .button {
    font-size: 20px;
    background: $white;
    color: $yellow;
  }
}

// From https://projects.lukehaas.me/css-loaders/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: $white;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: $blue;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: $blue;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
