$card-length: 300px;

.gallery {
  text-align: center;
  background: $blue;
}

.card {
  width: $card-length;
  height: $card-length;
  display: inline-block;
  margin: $base-spacing 0;
  vertical-align: top;
  overflow: hidden;
  box-shadow: $box-shadow;

  @media screen and (min-width: $card-length * 2) {
    margin: $base-spacing;
  }

  .card__wrapper {
    padding: $base-spacing / 2;

    @media screen and (max-width: $card-length + $base-spacing) {
      padding: 4px;
    }

    &.-overlay {
      background: rgba(0, 0, 0, 0.5);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
      height: 100%;
    }
  }

  .card__container {
    width: 100%;
    height: 100%;
    display: block;
  }
}

$caption-height: 64px;

.reportback {
  background: $white;

  .reportback__photo {
    padding: 4px;
    display: block;

    img {
      width: $card-length - $caption-height - 4;
      height: $card-length - $caption-height - 4;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .reportback__caption {
    height: $caption-height - 4;
    overflow: hidden;

    p {
      color: $off-black;
      font-family: $font-handwritten;
      font-weight: $weight-normal;
      font-size: 20px;
    }
  }
}

.invite {
  background: $off-black;
  background-size: cover;
  background-position: center;

  h1 {
    text-align: left;
    word-spacing: $card-length;
    font-size: 60px;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    padding-left: 2px;
    margin-top: -2px;
  }

  p {
    color: $white;
    font-size: 20px;
    margin: 6px 0;
  }

  .button {
    font-size: 20px;
    background: $white;
    color: $yellow;
  }
}
