html, body {
  width: 100%;
  background: $white;
}

.container {
  display: block;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  display: block;
  margin: auto;
}

.logo {
  position: absolute;
  top: $base-spacing / 2;
  left: $base-spacing / 2;
}

header {
  padding-top: $base-spacing * 4;
  text-align: center;
  background: $white;

  h1 {
    color: $blue;
    text-transform: uppercase;
    padding: 0 $base-spacing / 2;
    text-shadow: $text-shadow;
  }

  p {
    color: $dark-gray;
    font-size: 28px;
    padding: $base-spacing;
  }

  a {
    color: $blue;
  }
}

footer {
  p {
    font-size: 12px;
    color: $white;
  }
}
